<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">정경환의 재산</h2>
                    <h3 class="section-subheading text-muted">정경환은 말만 번지르르한 사람이 아닙니다. 그는 10분위의 소득을 직접 실천합니다.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">그의 소득분위</h4>
                    <p class="text-muted">
                      정경환은 장학금을 받을 필요가 없습니다.<br>
                      설령 그가 KAIST에 다닌다고 해도 말이죠.<br>
                      그의 완벽한 10분위의 소득은 그에게서 음식 가격에 대한 고민을 없애줍니다.
                      가끔 선배에게 치킨 한마리를 사줄 수 있을 정도로요.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-paper-plane-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">때묻지 않은 순수함</h4>
                    <p class="text-muted">
                      이런 놀라운 소득에도 불구하고, 그는 다른 사람들에게 자신의 소득 분위에 대해 질문하기 전까지
                      자신이 부유하다는 것조차 모르고 있었습니다.<br>
                      요즘 보기 드문, 세상에 찌들지 않은 인재라고 할 수 있죠.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-heart-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">만인에게 베푸는 사랑</h4>
                    <p class="text-muted">
                      정경환의 사랑은 남자, 여자를 가리지 않습니다. 당신이 남자면 오히려 더욱 좋아하죠.<br>
                      그의 넘쳐나는 재산과 순수한 성격은 당신을 헤어나올 수 없는 새로운 사랑의 구렁텅이에 빠뜨릴 것입니다.
                    </p>
                </div>
            </div>
        </div>
    </section>
